/************header*************************/
body{
margin:0;
}
.headr{
/*overflow:hidden;*/
top:0;
position:fixed;
height:120px;
width:100%;
background-color:#006FB9

}
#inpt{
margin-left:1100px;
margin-top:-40px;
border-radius:10px;
border:0.5px solid white;
height:27px;
width:185px;
}
#xyz{
margin-left:1300px;
margin-top:-45px;
height:35px;
width:35px;
background-color:black;
border-radius:50%;
}
.i1{
margin-left:20px;
margin-top:10px;
}
.p1{
margin-left:540px;
margin-top:-42px;
font-size:22px;
color:white;
}
.nav-bar ul{
	position:relative;
	top:-10px;
	left:85px;
	bottom:-23.5px;
	list-style-type: none;
    }

/*ul{
	position:relative;
	left:130px;
	bottom:-23.5px;
	list-style-type: none;
   <!-- margin: 0px;
    padding: 0px;-->
	
    
}*/
 ul li 
{
    float: left;
}
 ul li a 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}
ul li a:hover 
{
    /*background-color: #ff8080;*/
	border:1px solid white;
    color: white;
    text-decoration: none;
}
 ul li a:visited
{
    text-decoration: none;
}
#curr{
background-color:white;
color:black;
}
/*******************right-div*******************/
#right-div{
position:fixed;
top:60px;
height:1000px;
width:130px;
background-color:#000000;
left:-5px;
}
.p4{
color:#FCFCFC;
margin-left:10px;
margin-top:30px;
text-decoration:none;
font-weight:100;

}
.p4:hover{
color:white;
font-weight:700;

}
.fa-book:hover{
color:blue;
}
#d1{
height:70px;
}
#d2{
height:70px;
}
#d3{
height:70px;
}
#d4{
height:70px;
}
#d5{
height:70px;
}
#d6{
height:70px;
}
#d7{
height:70px;
}
#d8{
height:70px;
}
/****************content***********************/

#content1{
margin-top:130px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
.p3{
margin-left:10px;
margin-top:20px;
font-size:20px;
font-weight:bold;
}
.p2{
margin-left:10px;
margin-top:6px;
font-size:19px;
color:#6C757D;
font-weight:bold;
}
#main{
margin-top:10px;
}
#content2{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content3{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content4{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content5{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content6{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content7{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content8{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content9{
margin-top:50px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content10{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content11{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content12{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content13{
margin-top:40x;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content14{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content15{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content16{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content17{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content18{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content19{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content20{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content21{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content22{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content23{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
border-radius:10px;
border:1px solid black;
}
#content24{
margin-top:40px;
margin-left:160px;
width:1160px;
height:100px;
}
.a1{
text-decoration:none;
color:black;
}
#online{
position:fixed;
top:320px;
right:-50px;
width:120px;
height:50px;
background-color:#006FB9;
color:black;
transform:rotate(270deg);
border-radius:10px;
cursor:pointer;
}



/******************date*************************************/




.date-picker {
	position:relative;
	top:100px;
	left:530px;
	width:190px;
	height: 30px;
	background-color:#006FB9;
	margin: 30px auto;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	border-radius:6px;
	cursor: pointer;
	user-select: none;
	color:white;
}

.date-picker:hover {
	background-color: #286090;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	font-size: 20px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: #00CA85;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color:#313131;
}
.date-picker .dates .days .day.selected {
	background-color: #00CA85;
}
